{{!< default}}

<div class="gh-page">
    <div class="pico-container">

        <header class="pico-sitehead">
            {{#if @site.logo}}
            <img src="{{@site.logo}}" alt="{{@site.title}}" />
            {{/if}}
            <div class="pico-sitehead-content">
                <h1>{{@site.title}}</h1>
                <p>{{@site.description}}</p>
                <div class="gh-foot-menu">
                    {{navigation type="secondary"}}
                </div>
            </div>
        </header>

        <div class="gh-postfeed">
            {{#foreach posts visibility="all"}}

            {{> "card"}} {{!-- partials/card.hbs --}}

            {{/foreach}}
        </div>

    </div>
</div>