{{!< ../default}}

<div class="gh-page">
    <div class="pico-container">

        <header class="pico-accounthead">
            <div class="pico-accounthead-content">
                <h1>Your account</h1>
                <p>Hey there — here are all the settings and data for your account. Get in touch if have any problems or need some help getting things updated, and thanks for subscribing!</p>
            </div>
        </header>

    {{#if @member.paid}}

        {{!-- Logged in, paying member: Show account info --}}
        <div class="pico-field">
            <div class="pico-field-content">
                <label>Account status</label>
                <div class="pico-field-value">Paid member</div>
            </div>
            <div class="pico-field-actions">
                <a href="" class="gh-button gh-button-primary">Get Support</a>
            </div>
        </div>

        <div class="pico-field">
            <div class="pico-field-content">
                <label>Email address</label>
                <div class="pico-field-value">{{@member.email}}</div>
            </div>
            <div class="pico-field-actions">
                <a class="gh-button" href="javascript:" data-members-signout>Sign out</a>
            </div>
        </div>

        {{#foreach @member.subscriptions}}

            <div class="pico-field">
                <div class="pico-field-content">
                    <label>Your plan</label>
                    <div class="pico-field-value">$<span class="gh-plan-price">0</span>/{{plan.interval}}</div>
                </div>
                <div class="pico-field-actions">
                    {{!-- <a href="" class="gh-button">Edit</a> --}}
                </div>
            </div>

            <div class="pico-field">
                <div class="pico-field-content">
                    <label>Billing info</label>
                    <div class="pico-field-value">**** **** **** {{default_payment_card_last4}}</div>
                </div>
                <div class="pico-field-actions">
                    {{!-- <a href="" class="gh-button">Update</a> --}}
                </div>
            </div>

            <div class="pico-field">
                <div class="pico-field-content">
                    <label>Next bill date</label>
                    <div class="pico-field-value">{{date current_period_end format="DD MMM YYYY"}}</div>
                </div>
                <div class="pico-field-actions">
                    {{!-- <a href="" class="gh-button">Cancel</a> --}}
                </div>
            </div>

            {{#contentFor "scripts"}}
            <script>
                $(document).ready(function () {
                    var planAmount = {{ plan.amount }} / 100;
                    $(".gh-plan-price").html(planAmount);
                });
            </script>
            {{/contentFor}}

        {{/foreach}}

    {{else if @member}}

        {{!-- Logged in, not paying: Link to checkout --}}
        <div class="pico-field">
            <div class="pico-field-content">
                <label>Account status</label>
                <div class="pico-field-value">Free subscriber</div>
            </div>
            <div class="pico-field-actions">
                <a href="/signup/" class="gh-button gh-button-primary">Upgrade</a>
            </div>
        </div>

        <div class="pico-field">
            <div class="pico-field-content">
                <label>Email address</label>
                <div class="pico-field-value">{{@member.email}}</div>
            </div>
            <div class="pico-field-actions">
                <a class="gh-button" href="javascript:" disabled data-members-signout>Sign out</a>
            </div>
        </div>

    {{else}}

        {{!-- Not logged in: Redirect to signin --}}
        <script>window.location = '{{@site.url}}/signin/';</script>

    {{/if}}

    </div>
</div>

<style>.pico-cta{display:none;}</style>
